<ion-view title="设置新登录密码">
  <ion-content>
    <ion-list>
      <ion-item class="divider"></ion-item>
      <label class="item item-input item-input-inset veri-code-refresh">

        <input type="text" placeholder="请输入手机号码" ng-model="ctrl.viewModel.cellphone" required minlength="11" maxlength="11" ng-pattern="/^(13|14|15|17|18)\d{9}$/" ng-trim="true">

        <button class="button button-small" ng-click="ctrl.sendVeriCode()" ng-if="ctrl.showVeriCodeButton()" ng-disabled="!ctrl.sendVeriCodeButtonEnable()">&nbsp;&nbsp;点击发送验证码</button>
        <button class="button button-small" style="display: none" ng-click="ctrl.sendVeriCode()" ng-if="ctrl.showVeriCodeButton()" ng-disabled="!ctrl.sendVeriCodeButtonEnable()">重新发送验证码</button>
      </label>
      <label class="item item-input-inset veri-code-refresh">
        <input type="text" placeholder="请输入验证码" ng-model="ctrl.viewModel.veriCode" required minlength="6" maxlength="6" ng-trim="true">
      </label>
      <div class="space"></div>
      <div class="space"></div>

    </ion-list>
    <button class="btn button-yellow" ng-click="ctrl.verifyVeriCode()" ng-disabled="!ctrl.verifyVeriCodeButtonEnable()">校验验证码</button>
  </ion-content>
</ion-view>