<ion-view title="我的金银猫" hide-back-button=true>
  <ion-content id="user-index" class="has-footer">
    <ion-refresher
      pulling-icon="ion-arrow-down-c"
      spinner="spiral"
      on-refresh="ctrl.doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item ng-if="ctrl.viewModel.verified" class="item-thumbnail-left item-icon-right" ui-sref="jym.user-detail">
        <img class="avatar" src="assets/img/common/avatar@128x128-acece9.png"/>

        <h2 ng-bind="ctrl.viewModel.cellphone"></h2>
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item ng-if="!ctrl.viewModel.verified" class="item-thumbnail-left item-icon-right" ui-sref="jym.user-bank-card-add">
        <img class="avatar" src="assets/img/common/avatar@128x128-acece9.png"/>

        <h2 ng-bind="ctrl.viewModel.cellphone"></h2>
        <samp ui-sref="jym-user/bank-card/add/select-method">尚未实名认证</samp>
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" ui-sref="jym.user-settle-account">
        <p class="pull-left">在投资产</p>

        <p class="pull-right"><span ng-bind="ctrl.viewModel.balance"></span> 元</p>
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" ui-sref="jym.user-settle-account">
        <p class="pull-left">钱包余额</p>

        <p class="pull-right"><span ng-bind="ctrl.viewModel.balance"></span> 元</p>
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item class="divider"></ion-item>
      <ion-item class="item-icon-right" ui-sref="jym.user-jinbaoyin">
        <p>金包银账户</p>
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" ui-sref="jym.user-orders">
        <p>我的订单</p>
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" ui-sref="jym.user-bank-card">
        <p><span class="pull-left">我的银行卡</span> <span class="pull-right" ng-if="!ctrl.viewModel.verified"><samp>未绑定</samp></span></p>
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item class="divider">
      </ion-item>
      <ion-item class="item-icon-right" ui-sref="jym.user-security">
        <p>密码设置</p>
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" ui-sref="jym.user-coupon">
        <p>我的优惠券</p>
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item class="divider">
      </ion-item>
      <ion-item class="item-icon-right" ui-sref="jym.user-about">
        <p>关于金银猫</p>
        <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>
    <br>
    <button class="btn button-grey" ng-click="ctrl.loginOut()">登出</button>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
  </ion-content>
  <div ng-include="'app/common/templates/tabs.tpl.html'"></div>
</ion-view>
