<ion-view title="设置新支付密码">
  <ion-content>
    <ion-list class="reset-payment-passsword">
      <ion-item class="divider"></ion-item>
      <label class="item item-input" ng-if="ctrl.viewModel.needUserInfo">
        <span class="input-label">输入您的姓名</span>
        <input type="text" placeholder="姓名" ng-model="ctrl.viewModel.realName" required minlength="1" maxlength="8" ng-trim="true">
      </label>
      <label class="item item-input" ng-if="ctrl.viewModel.needUserInfo">
        <span class="input-label">确认您的证件号</span>
        <input type="text" placeholder="证件号" ng-model="ctrl.viewModel.credentialNo" required minlength="5" maxlength="30" ng-trim="true">
      </label>
      <label class="item item-input">
        <span class="input-label">输入新支付密码</span>
        <input type="password" placeholder="8-18位字符，必须包含大写字母" ng-model="ctrl.viewModel.password" required minlength="8" maxlength="18" ng-pattern="/^(?![^a-zA-Z~!@#$%^&*_]+$)(?!\D+$).{8,18}$/">
      </label>
      <label class="item item-input">
        <span class="input-label">确认新支付密码</span>
        <input type="password" placeholder="再次输入新支付密码" ng-model="ctrl.viewModel.confirmPassword" required minlength="8" maxlength="18" ng-pattern="/^(?![^a-zA-Z~!@#$%^&*_]+$)(?!\D+$).{8,18}$/">
      </label>
    </ion-list>

    <div class="space"></div>
    <div class="space"></div>
    <button class="btn button-yellow" ng-click="ctrl.resetPassword()" ng-disabled="!ctrl.enableButton()">修 改</button>
  </ion-content>
</ion-view>