<ion-view title="设置支付密码">
  <ion-content>
    <ion-list>
      <ion-item class="divider"></ion-item>
      <label class="item item-input">
        <span class="input-label">输入支付密码</span>
        <input type="password" placeholder="8-18位字符，必须包含英文字母" ng-model="ctrl.viewModel.password" required minlength="8" maxlength="18" ng-pattern="/^(?![^a-zA-Z~!@#$%^&*_]+$)(?!\D+$).{8,18}$/">
      </label>
      <label class="item item-input">
        <span class="input-label">确认支付密码</span>
        <input type="password" placeholder="再次输入支付密码" ng-model="ctrl.viewModel.confirmPassword" required minlength="8" maxlength="18" ng-pattern="/^(?![^a-zA-Z~!@#$%^&*_]+$)(?!\D+$).{8,18}$/">
      </label>
    </ion-list>

    <div class="space"></div>
    <div class="space"></div>
    <button class="btn button-yellow" ng-click="ctrl.setPassword()" ng-disabled="!ctrl.enableButton()">确 认</button>
  </ion-content>
</ion-view>