<ion-view title="订单列表">
  <ion-content>
    <ion-refresher
      pulling-icon="ion-arrow-down-c"
      spinner="spiral"
      on-refresh="orders.doRefresh()">
    </ion-refresher>
    <ion-list class="orderList">
      <div ng-repeat="item in orders.viewModel.items" ui-sref="jym.user-orders-detail({
        transactionIdentifier: item.orderIdentifier})">
        <ion-item class="item-divider item-icon-right">
          <span>订单号： </span>
          <samp ng-bind="item.orderNo"></samp>
          <i class="icon ion-chevron-right"></i>
        </ion-item>

        <ion-item >
          <p>
            <span class="pull-left">订单金额</span>
            <span class="pull-right" ng-bind="item.orderTime | longTime"></span>
          </p>
          <p>
            <strong class="pull-left" ng-bind="item.principal"></strong><samp style="float: left">&nbsp;元</samp>

            <!--<span class="pull-left">下单时间</span>-->
          </p>
          <p><span class="pull-left">预计收益： </span>
             <span ng-bind="item.interest"></span>
             <span>&nbsp;&nbsp;&nbsp;+</span>
             <span ng-bind="item.extraInterest"></span>
             <span class="pull-right" ng-bind="item.statusText"></span>
          </p>

          <!--<p>-->
            <!--<span class="pull-left">订单状态</span>-->
          <!--</p>-->
          </ion-item>


          <!--<p><span>项目名称</span><span ng-bind="item.productSnapshot.productTitle"></span></p>-->
          <!--<p><span>项目期数</span><span ng-bind="item.productSnapshot.issueNo"></span></p>-->
          <!--<p><span>投资周期</span><span ng-bind="item.productSnapshot.period"></span></p>-->
          <!--<p><span>起息日期</span><span ng-bind="item.valueDate | time"></span></p>-->
          <!--<p><span>结息日期</span><span ng-bind="item.settleDate | time"></span></p>-->
          <!--<p><span>最迟还款日</span><span ng-bind="item.productSnapshot.repaymentDeadline | time"></span></p>-->
      </div>
      <ion-item class="divider"></ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-if="orders.moreDataCanBeLoaded()"
      on-infinite="orders.loadMoreData()"
      distance="1%"
      spinner="spiral">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>