<ion-view title="订单列表">
  <ion-content>
    <ion-refresher
      pulling-icon="ion-arrow-down-c"
      spinner="spiral"
      on-refresh="orders.doRefresh()">
    </ion-refresher>
    <ion-list class="order-list">
      <div collection-repeat="item in ctrl.viewModel.items" ui-sref="jym.user-orders-detail({ orderIdentifier: item.orderIdentifier })">
        <ion-item class="item-divider item-icon-right">
          <span>订单号： </span>
          <samp ng-bind="item.orderNo"></samp>
          <i class="icon ion-chevron-right"></i>
        </ion-item>
        <ion-item>
          <p>
            <span class="pull-left">订单金额</span>
            <span class="pull-right" ng-bind="item.orderTime | longTime"></span>
          </p>

          <p>
            <strong class="pull-left" ng-bind="item.principal"></strong>
            <samp>&nbsp;元</samp>
          </p>

          <p><span class="pull-left">预期收益： </span>
            <span ng-bind="item.interest"></span>
            <span ng-if="item.extraInterest > 0">+</span>
            <span ng-if="item.extraInterest > 0" ng-bind="item.extraInterest"></span>&nbsp;元
            <span class="pull-right" ng-bind="item.statusText"></span>
          </p>
        </ion-item>
        <ion-item class="divider"></ion-item>
      </div>
    </ion-list>
    <ion-infinite-scroll
      ng-if="ctrl.moreDataCanBeLoaded()"
      on-infinite="ctrl.loadMoreData()"
      distance="1%"
      spinner="spiral">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
