<ion-view title="选择银行卡">
  <ion-content>
    <ion-refresher
      pulling-icon="ion-arrow-down-c"
      spinner="spiral"
      on-refresh="account.doRefresh()">
    </ion-refresher>
    <ion-list class="bank-card">
      <ion-item ng-repeat="item in ctrl.viewModel.items" class="item-thumbnail-left item-icon-right" ng-click="ctrl.select(item.bankCardNo)" ng-class="{
      'border-bottom-yellow': ctrl.selected(item.bankCardNo) }">
        <img ng-src="{{ item.bankName | bankImg }}">
        <h2 ng-bind="item.bankName"></h2>
        <!--<p class="pull-right" ng-bind="item | bankCardStatus"></p>-->
        <p>尾号 <em ng-bind="item.bankCardNo.substr(-4)"></em><span>&nbsp;&nbsp;&nbsp;&nbsp;</span><samp ng-bind="item | bankCardStatus"></samp></p>
        <i class="icon ion-checkmark-round" ng-hide="!ctrl.selected(item.bankCardNo)"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>