<ion-view title="充值">
  <ion-content>
    <ion-list class="bank-card">
      <ion-item class="item-thumbnail-left item-icon-right" ng-if="!account.viewModel.noCard" ui-sref="jym.user-settle-account-deposit-bank-card-selector">
        <img ng-src="{{ account.viewModel.bankName | bankImg }}">

        <h2 ng-bind="account.viewModel.bankName"></h2>

        <p>尾号 <em ng-bind="account.viewModel.bankCardNo.substr(-4)"></em></p>
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item ng-if="account.viewModel.noCard" ui-sref="jym.user-bank-card-add">
        <i class="icon ion-ios-plus-outline"></i>
        <span> 添加新银行卡</span>
      </ion-item>
      <ion-item class="item-input">
        <span class="input-label">金额</span>
        <input type="number" placeholder="请填写提现金额">
      </ion-item>
      <ion-item class="item-input">
        <span class="input-label">密码</span>
        <input type="password" placeholder="请填写支付密码">
      </ion-item>
    </ion-list>
    <div class="space"></div>
    <div class="space"></div>
    <button class="btn button-grey">付款</button>
  </ion-content>
</ion-view>