<ion-view title="金包银明细">
  <ion-content>
    <ion-refresher
      pulling-icon="ion-arrow-down-c"
      spinner="spiral"
      on-refresh="ctrl.doRefresh()">
    </ion-refresher>
    <ion-list class="jinbaoyin-list">
      <div collection-repeat="item in ctrl.viewModel.items">
        <ion-item class="item-icon-right" ui-sref="jym.user-jinbaoyin-detail({
        transactionIdentifier: item.transactionIdentifier})">
          <p>
            <span class="pull-left" ng-bind="item.tradeCode | tradeCodeForJBY"></span>
            <span class="pull-right">
              <span class="plus" ng-if="item.trade === 0"> + </span>
              <span class="minus" ng-if="item.trade === 1"> - </span>
            <span ng-bind="item.amount"></span>
          </span>
          </p>

          <p>
            <span class="pull-left" ng-bind="item.resultCode | resultText"></span>
            <span class="pull-right">
              <span ng-bind="item.transactionTime | time"></span>
            </span>
          </p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="divider"></ion-item>
      </div>
    </ion-list>
    <ion-infinite-scroll
      ng-if="ctrl.moreDataCanBeLoaded()"
      on-infinite="ctrl.loadMoreData()"
      distance="1%"
      spinner="spiral">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>