<ion-view title="订单详情">
  <ion-content>
    <ion-list class="order-list">
      <ion-item class="item-divider">
        <span>订单号： </span>
        <samp ng-bind="order.viewModel.orderNo"></samp>
      </ion-item>
      <ion-item>
        <p>
          <span class="pull-left">订单金额</span>
          <span class="pull-right" ng-bind="order.viewModel.principal"><samp>&nbsp;元</samp></span>
        </p>

        <p>
          <span class="pull-left">预计收益： </span>
          <span ng-bind="order.viewModel.interest"></span>
          <span ng-if="order.viewModel.extraInterest > 0">&nbsp;&nbsp;&nbsp;+</span>
          <span ng-if="order.viewModel.extraInterest > 0" ng-bind="order.viewModel.extraInterest"></span>
          <span class="pull-right" ng-bind="order.viewModel.statusText"></span>
        </p>
      </ion-item>
      <ion-item class="divider"></ion-item>
    </ion-list>
    <ion-list class="orderDetail">
      <ion-item>
        <span class="pull-left">项目名称</span>
        <span class="pull-right" ng-bind="order.viewModel.productSnapshot.productTitle"></span>
      </ion-item>
      <ion-item>
        <span class="pull-left">项目期数</span>
        <span class="pull-right" ng-bind="order.viewModel.productSnapshot.issueNo"></span>
      </ion-item>
      <ion-item>
        <span class="pull-left">投资周期</span>
        <span class="pull-right" ng-bind="order.viewModel.productSnapshot.period"></span>
      </ion-item>
      <ion-item>
        <span class="pull-left">起息日期</span>
        <span class="pull-right" ng-bind="order.viewModel.valueDate | time"></span>
      </ion-item>
      <ion-item>
        <span class="pull-left">结息日期</span>
        <span class="pull-right" ng-bind="order.viewModel.settleDate | time"></span>
      </ion-item>
      <ion-item>
        <span class="pull-left">最迟还款日</span>
        <span class="pull-right" ng-bind="order.viewModel.productSnapshot.repaymentDeadline | time"></span>
      </ion-item>
      <ion-item class="divider"></ion-item>
      <ion-item class="item-icon-right" ng-click="order.toggleAgreement1()">
        <p>委托协议</p>
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" ng-click="order.toggleAgreement2()">
        <p>借款协议</p>
        <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>

    <div ng-if="!order.canBack()">
      <div class="space"></div>
      <div class="space"></div>
      <button class="btn button-yellow" ng-click="order.go('jym.user')">返回个人中心</button>
    </div>

    <div class="agreement" ng-if="order.viewModel.showAgreement1">
      <div ng-bind-html="order.viewModel.agreement1"></div>
      <div class="space"></div>
      <div class="space"></div>
      <button class="btn button-yellow" ng-click="order.toggleAgreement1()">返回</button>
    </div>

    <div class="agreement" ng-if="order.viewModel.showAgreement2">
      <div ng-bind-html="order.viewModel.agreement2"></div>
      <div class="space"></div>
      <div class="space"></div>
      <button class="btn button-yellow" ng-click="order.toggleAgreement2()">返回</button>
    </div>

  </ion-content>
</ion-view>