<ion-view title="订单详情">
  <ion-content>
    <ion-list class="order-list">
      <ion-item class="item-divider">
        <span>订单号： </span>
        <samp ng-bind="ctrl.viewModel.orderNo"></samp>
      </ion-item>
      <ion-item>
        <p>
          <span class="pull-left">订单金额</span>
          <span class="pull-right" ng-bind="ctrl.viewModel.principal"><samp>&nbsp;元</samp></span>
        </p>

        <p>
          <span class="pull-left">预期收益： </span>
          <span ng-bind="ctrl.viewModel.interest"></span>
          <span ng-if="ctrl.viewModel.extraInterest > 0">&nbsp;&nbsp;+</span>
          <span ng-if="ctrl.viewModel.extraInterest > 0" ng-bind="ctrl.viewModel.extraInterest"></span>
          <span>&nbsp;&nbsp;元</span>
          <span class="pull-right" ng-bind="ctrl.viewModel.statusText"></span>
        </p>
      </ion-item>
      <ion-item class="divider"></ion-item>
    </ion-list>
    <ion-list class="orderDetail">
      <ion-item>
        <span class="pull-left">项目名称</span>
        <span class="pull-right" ng-bind="ctrl.viewModel.productSnapshot.productTitle"></span>
      </ion-item>
      <ion-item>
        <span class="pull-left">项目期数</span>
        <span class="pull-right" ng-bind="ctrl.viewModel.productSnapshot.issueNo"></span>
      </ion-item>
      <ion-item>
        <span class="pull-left">投资周期</span>
        <span class="pull-right" ng-bind="ctrl.viewModel.productSnapshot.period"></span>
      </ion-item>
      <ion-item>
        <span class="pull-left">起息日期</span>
        <span class="pull-right" ng-bind="ctrl.viewModel.valueDate | time"></span>
      </ion-item>
      <ion-item>
        <span class="pull-left">结息日期</span>
        <span class="pull-right" ng-bind="ctrl.viewModel.settleDate | time"></span>
      </ion-item>
      <ion-item>
        <span class="pull-left">最迟还款日</span>
        <span class="pull-right" ng-bind="ctrl.viewModel.productSnapshot.repaymentDeadline | time"></span>
      </ion-item>
      <ion-item class="divider"></ion-item>
      <ion-item class="item-icon-right" ng-click="ctrl.toggleAgreement1()">
        <p>委托协议</p>
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" ng-click="ctrl.toggleAgreement2()">
        <p>借款协议</p>
        <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>

    <div ng-if="!ctrl.canBack()">
      <div class="space"></div>
      <div class="space"></div>
      <button class="btn button-yellow" ng-click="ctrl.go('jym.jinbaoyin')">返回首页</button>
      <div class="space"></div>
      <div class="space"></div>
      <button class="btn button-yellow" ng-click="ctrl.go('jym.user')">返回个人中心</button>
      <div class="space"></div>
      <div class="space"></div>
    </div>

    <div class="agreement" ng-if="ctrl.viewModel.showAgreement1">
      <div ng-bind-html="ctrl.viewModel.agreement1"></div>
      <div class="space"></div>
      <div class="space"></div>
      <button class="btn button-yellow" ng-click="ctrl.toggleAgreement1()">返回</button>
      <div class="space"></div>
      <div class="space"></div>
    </div>

    <div class="agreement" ng-if="ctrl.viewModel.showAgreement2">
      <div ng-bind-html="ctrl.viewModel.agreement2"></div>
      <div class="space"></div>
      <div class="space"></div>
      <button class="btn button-yellow" ng-click="ctrl.toggleAgreement2()">返回</button>
      <div class="space"></div>
      <div class="space"></div>
    </div>

  </ion-content>
</ion-view>