<div ng-controller="JinbaoyinIndexSlideBoxCtrl as jinbaoyinIndexSlideBoxCtrl">
  <ion-slide-box does-continue="true" auto-play="true">
    <!--<ion-slide ng-repeat="slide in jinbaoyinIndexSlideBoxCtrl.slides">-->
      <!--<a ng-href="{{ slide.targetUrl }}"><img ng-src="{{ slide.imageSource }}"></a>-->
    <!--</ion-slide>-->
    <ion-slide>
      <a href="#" onclick="window.open('http://www.baidu.com', '_self', 'location=yes')">      <img src="https://source.jinyinmao.com.cn/uploadfile/2014/0929/20140929055802217.jpg">
      </a>
    </ion-slide>
    <ion-slide>
      <a href="#" onclick="window.open('http://www.baidu.com', '_blank', 'location=yes')">      <img src="https://source.jinyinmao.com.cn/uploadfile/2014/0929/20140929055802217.jpg">
      </a>
    </ion-slide>
    <ion-slide>
      <a href="#" onclick="window.open('http://www.baidu.com', '_system', 'location=yes')">      <img src="https://source.jinyinmao.com.cn/uploadfile/2014/0929/20140929055802217.jpg">
      </a>
    </ion-slide>

  </ion-slide-box>
</div>