<ion-view title="账户流水记录">
  <ion-content>
    <ion-refresher
      pulling-icon="ion-arrow-down-c"
      spinner="spiral"
      on-refresh="ctrl.doRefresh()">
    </ion-refresher>
    <ion-list class="reorder">
      <ion-item>
        <p class="pull-left">交易时间</p>

        <p class="pull-right" ng-bind="ctrl.viewModel.transactionTime | longTime"></p>
      </ion-item>
      <ion-item ng-if="ctrl.viewModel.resultCode === 1">
        <p class="pull-left">完成时间</p>

        <p class="pull-right" ng-bind="ctrl.viewModel.resultTime | longTime"></p>
      </ion-item>
      <ion-item>
        <p class="pull-left">交易类型</p>

        <p class="pull-right" ng-bind="ctrl.viewModel.tradeCode | tradeCodeForSettle"></p>
      </ion-item>
      <ion-item ng-if="ctrl.viewModel.showBankCard">
        <p class="pull-left">银行卡号</p>

        <p class="pull-right" ng-bind="ctrl.viewModel.bankCardNo"></p>
      </ion-item>
      <ion-item>
        <p class="pull-left">金额（元）</p>

        <p class="pull-right">
          <span class="plus" ng-if="ctrl.viewModel.trade === 0"> + </span>
          <span class="minus" ng-if="ctrl.viewModel.trade === 1"> - </span>
          <span ng-bind="ctrl.viewModel.amount"></span>
        </p>
      </ion-item>
      <ion-item>
        <p class="pull-left">备注说明</p>

        <p class="pull-right" ng-bind="ctrl.viewModel.transDesc"></p>
      </ion-item>
      <ion-item class="divider"></ion-item>
      <ion-item>
        <p class="pull-left">状态</p>

        <p class="pull-right" ng-bind="ctrl.viewModel.resultCode | resultText" ng-style="ctrl.viewModel.resultStyle"></p>
      </ion-item>
    </ion-list>

    <div ng-if="!ctrl.canBack()">
      <div class="space"></div>
      <div class="space"></div>
      <button class="btn button-yellow" ng-click="ctrl.go('jym.jinbaoyin')">返回首页</button>
      <div class="space"></div>
      <div class="space"></div>
      <button class="btn button-yellow" ng-click="ctrl.go('jym.user')">返回个人中心</button>
      <div class="space"></div>
      <div class="space"></div>
    </div>
  </ion-content>
</ion-view>