<ion-view title="金包银赎回">
  <ion-content>
    <ion-list class="deposit">
      <ion-item>
        <span class="pull-left">可取资金（元）</span>
        <span class="pull-right"><strong ng-bind="account.viewModel.jBYWithdrawalableAmount"></strong></span>
      </ion-item>
      <ion-item class="card deposit">
        <ion-item class="item">
          <span class="pull-left">今日可申请额度（元）：&nbsp;</span>
          <span class="pull-left" ng-bind="account.viewModel.todayJBYWithdrawalableAmount"> 元</span>
        </ion-item>
        <ion-item class="divider"></ion-item>
        <label class="item item-input">
          <span class="input-label">取款金额</span>
          <input type="number" placeholder="请输入取款金额（元）" required min="0.01" max="1000000" ng-model="account.viewModel.amount">
        </label>
        <label class="item item-input">
          <span class="input-label">输入密码</span>
          <input type="password" placeholder="请输入您的支付密码" ng-bind="purchase.viewModel.userPaymentPassword" required minlength="8" maxlength="18" ng-pattern="/^(?![^a-zA-Z~!@#$%^&*_]+$)(?!\D+$).{8,18}$/">
        </label>
      </ion-item>

      <div class="narrow">
        <button ng-click="account.check()">
          <span>
            <i class="icon ion-android-checkbox-outline-blank" ng-if="!account.viewModel.checked"></i>
            <i class="icon ion-android-checkbox-outline" ng-if="account.viewModel.checked"></i>
          </span>
          <span>同意</span>
        </button>
        <span ng-click="account.toggleAgreement()">《金包银自动交易授权委托书》</span>
      </div>
    </ion-list>
    <button class="btn button-yellow" ng-disabled="!account.withdrawButtonEnable()" ng-click="account.withdraw()">同意协议并取现</button>
    <br>
    <br>
    <h4 id="tel">如有问题，请垂询&nbsp;4008-556-333。</h4>

    <div class="agreement" ng-if="account.viewModel.showAgreement">
      <div ng-bind-html="account.viewModel.agreement"></div>
      <div class="space"></div>
      <div class="space"></div>
      <button class="btn button-yellow" ng-click="account.toggleAgreement()">返回</button>
    </div>

  </ion-content>
</ion-view>