<ion-view title="我的银行卡">
  <ion-content>
    <ion-refresher
      pulling-icon="ion-arrow-down-c"
      spinner="spiral"
      on-refresh="ctrl.doRefresh()">
    </ion-refresher>
    <ion-list class="bank-card detail">
      <ion-item class="item-thumbnail-left">
        <img ng-src="{{ ctrl.viewModel.bankName | bankImg }}">
        <h2 ng-bind="ctrl.viewModel.bankName"></h2>
        <span class="pull-right" ng-bind="ctrl.viewModel | bankCardStatus"></span>
        <p>尾号 <em ng-bind="ctrl.viewModel.bankCardNo.substr(-4)"></em></p>
      </ion-item>
    </ion-list>
    <br>
    <button class="btn button-yellow" ng-if="!ctrl.viewModel.verifiedByYilian" ui-sref="jym.user-bank-card-upgrade({ bankCardNo: ctrl.viewModel.bankCardNo })">升级签约支付</button>
    <div class="space"></div>
    <div class="space"></div>
    <button class="btn button-yellow" ng-click="ctrl.showConfirm()">删除银行卡</button>


  </ion-content>
</ion-view>