<ion-view title="创建金银猫账户">
  <ion-content>
    <ion-list>
      <ion-item class="divider"></ion-item>
      <ion-item class="item item-input veri-code-refresh">
        <input type="text" placeholder="请输入手机号码" ng-model="ctrl.viewModel.cellphone" required minlength="11" maxlength="11" ng-pattern="/^(13|14|15|17|18)\d{9}$/" ng-trim="true">
        <button class="button button-small" ng-click="ctrl.sendVeriCode()" ng-if="ctrl.showVeriCodeButton()" ng-disabled="!ctrl.sendVeriCodeButtonEnable()">&nbsp;&nbsp;点击发送验证码&nbsp;&nbsp;</button>
        <button class="button button-small" ng-click="ctrl.sendVeriCode()" ng-if="!ctrl.showVeriCodeButton()" ng-disabled="!ctrl.sendVeriCodeButtonEnable()">&nbsp;&nbsp;重新发送（<span ng-bind="ctrl.viewModel.remainSeconds"></span>）&nbsp;&nbsp;</button>
      </ion-item>
      <ion-item class="item item-input veri-code-refresh">
        <input type="text" placeholder="请输入验证码" ng-model="ctrl.viewModel.veriCode" required minlength="1" maxlength="6" ng-trim="true">
      </ion-item>
      <div class="space"></div>
      <div class="space"></div>
    </ion-list>
    <button class="btn button-yellow" ng-click="ctrl.verifyVeriCode()" ng-disabled="!ctrl.verifyVeriCodeButtonEnable()">校验验证码</button>
  </ion-content>
</ion-view>